.bio-box {
    border:  1px solid black;
    float: left;
    font-size: 1rem;
    padding: 2%;
    width: 23%;
    box-sizing: border-box;
    margin: 40px 1% 0;
}

.bio-wrapper {
    background-color: #c0e0c3;
    font-size: 24px;
    margin: auto;
    max-width: 960px;
}

.bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.social-list {
    list-style: none;
    padding: 0;
}

.social-list > li {
    display: inline-block;
}

.bio-box img {
   width: 100%;
}

.bio-box h3 {
    color: #fff;
    font-size: 1.5em;
    margin: -40px 0 1em;
    text-align: center;
}