.bio-box {
    border:  1px solid black;
    float: left;
    font-size: 1rem;
    padding: 2%;
    width: 25%;
}

.bio-wrapper {
    background-color: aquamarine;
    font-size: 24px;
    height: 300px;
    overflow: auto;
}

.bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}